/*
*by dhm
*
*/
body {
    background: #FDB163;
}

.teamWrap {
    background: url("../../../pic/weixin/activity/team/teamIndexBg.png") no-repeat;
    background-size: 100% 100%;
}

.bannerTex {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-top: 15px;
    z-index: 2;
}

.bannerTex img {
    width: 98%;
    height: auto;
}

.teamTime {
    padding: 0 10px;
    width: 70%;
    margin: 0 auto;
    height: 33px;
    line-height: 33px;
    background: url("../../../pic/weixin/activity/team/teamLine.png") no-repeat top, url("../../../pic/weixin/activity/team/teamLine.png") no-repeat bottom;
    background-size: 100% 2px;
    top: -10px;
    z-index: 1;
}

.teamWrap .grayText1 {
    color: #8d6749;
    margin-top:50px;
}
.teamMembers li .grayTex{
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 3em;
    overflow: hidden;
}

@media screen and (max-width: 320px) {
    .teamTime {
        width: 80%;
    }
}

.ruleTitle {
    width: 175px;
    height: 33px;
    line-height: 33px;
    margin: 0 auto;
    background: url("../../../pic/weixin/activity/team/Titleshading.png") no-repeat;
    background-size: 100% 100%;
    letter-spacing: 3px;
    top: 26px;
}

.ruleTitle img {
    width: 16px;
    height: 16px;
    margin: 0 6px 0 22px;
}

.ruleTex {
    height: 318px;
    color: #F19E02;
    padding: 35px 28px 28px;
    background: url("../../../pic/weixin/activity/team/Textframe.png") no-repeat;
    background-size: 100% 100%;
    line-height: 18px;
    letter-spacing: 2px;
}

.scrollTex {
    height: 318px;
    overflow: auto;
    -webkit-overflow-scrolling: touch; /*可以让页面在Native端滚动时模拟原生的弹性滚动效果*/
}

.scrollTex p {
    margin-top: 7px;
    font-size: 12px;
    margin-bottom: 10px;
}

.teamRule {
    margin-top: -6px;
}

.btnBox {
    padding: 0 6.5%;
}

.btnBox a {
    width: 45%;
    height: 45px;
    line-height: 45px;
}

@media screen and (max-width: 320px) {
    .btnBox a {
        font-size: 14px;
    }
    .scrollTex{
        height: 208px;
    }
}
@media screen and (max-width: 375px) {
    .scrollTex{
        height: 288px;
    }
    .ruleTex{
        padding: 35px 28px 38px
    }
}
@media screen and (max-width: 414px) {
    .ruleTex,.scrollTex{
        height: 280px;
    }
}



.setTeam, .lookTeam {
    background: #FE5260;
}

.teamRank {
    background: #FD7D62;
}

.bounceWrap {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .4);
    top: 0;
    left: 0;
    z-index: 10;
}

.bounceCon {
    width: 290px;
    height: 270px;
    background: url("../../../pic/weixin/activity/team/pop.png") no-repeat;
    background-size: 100% 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.bounceCon p {
    margin-top: 150px;
}

.bounceBtn span {
    width: 100px;
    height: 35px;
    line-height: 35px;
    border-radius: 35px;
}

.cancelBtn {
    background: #AAAAAA;
    margin-left: 35px;
}

.confirmBtn {
    background: #FE5260;
    margin-right: 35px;
}

.rewardBox {
    width: 58px;
    height: 12px;
    padding-top: 22px;
    top: 10px;
    right: 10px;
    background: url("../../../pic/weixin/activity/team/icongift.png") no-repeat center top;
    background-size: 20px 20px;
    z-index: 1000;
}