@charset "utf-8";
/*Common style*/
.btn {*overflow:visible;/*消除IE按钮左右padding随字数长度变化的BUG*/}
* {padding:0px;margin:0px;}
input {border:none;}
/*Custom layout
--------------------------------------------------------------------*/
body {
	text-align: center;
	/* height: 100%; */
	background: #f5f5f5;
	font-family: "Microsoft Yahei","微软雅黑",Arial,"Hiragino Sans GB","宋体";
	color: #616161;
}
a {
	-webkit-appearance: none;
	outline: none;
}
a:hover {
	color: #fb4148;
}
.pointer{
  cursor: pointer;
}
.fontYahei{
	font-family: "Microsoft Yahei","微软雅黑",Arial,"Hiragino Sans GB","宋体";
}
.textC {
	text-align: center;
}
.textL {
	text-align: left;
}
.textR {
	text-align: right;
}
.blockC {
	margin-left: auto;
	margin-right: auto;
}
.block {
	display: block;
}
.none{
	display:none;
}
.inlineB {
	display: inline-block;
    *display: inline;
	zoom: 1;
}
.inlineBUl li {
	display: inline-block;
	*display: inline;
	zoom: 1;
}
.inlineTUl li {
	display: inline-table;
}
.strong {
	font-weight: bold;
}
.positionR {
	position: relative;
}
.positionA {
	position: absolute;
}
.positionF {
	position:fixed;
}
.borderN{
	border:none;
}
.borderT {
	border-top: 1px solid #EAEAEA;
}
.borderB {
	border-bottom: 1px solid #EAEAEA;
}
.borderTSL {
	box-shadow: -1px 0px 1px #ccc;
}
.borderTS {
	box-shadow: -1px 0px 1px #999;
}
.borderBS {
	box-shadow: 1px 0px 1px #999;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.outHide {
	overflow: hidden;
}
.verTop {
	vertical-align: top;
}
.verMiddle {
	vertical-align: middle;
}
.verTopUl li {
	vertical-align: top;
}
.radius5 {
	border-radius: 5px;
}
.opacity60 {
	opacity: 0.6;
}
.boxSizing {
	box-sizing: border-box;
}
/**************字号*******************/
.fontIt {
	font-style: italic;/******斜体字*******/
}
.font12 {
	font-size: 12px;
}
.font14 {
	font-size: 14px;
}
.font16 {
	font-size: 16px;
}
.font18 {
	font-size: 18px;
}
.font20 {
	font-size: 20px;
}
.font22 {
	font-size: 22px;
}
.font24 {
	font-size: 24px;
}
.font26 {
	font-size: 26px;
}
.font28 {
	font-size: 28px;
}
.font30 {
	font-size: 30px;
}
.font32 {
	font-size: 32px;
}
.font34 {
	font-size: 34px;
}
.font36 {
	font-size: 36px;
}
.font40 {
	font-size: 40px;
}
.font48 {
	font-size: 48px;
}
.font150P {
	font-size: 150%;
}
/**************行高*******************/
.lineHeight1_5x {
	line-height: 1.5em;
}
.lineHeight1_8x {
	line-height: 1.8em;
}
.lineHeight2x {
	line-height: 2em;
}
.lineHeight3x {
	line-height: 3em;
}
.lineHeigt20 {
	line-height: 20px;
}
/****************颜色值******************/
.whiteBkg {
	background-color: #FFF;
}
.pinkBkg{
	background: #d56a6e;
}
.redBkg {
	background: #fb4148;
}
.blackBkg {
	background: #3b3b3b;
}
.blackBkg4c {
	background: #4c4c4c;
}
.grayBkg61 {
	background: #616161;
}
.grayBkg {
	background: #f4f4f4;
}
.grayBkgf5 {
	background: #f5f5f5;
}
.grayBkg01 {
	background: #f0eff0;
}
.grayBkg02 {
	background-color: #f6f6f6;
}
.grayBkg61T {
	background: #616161;
	opacity: 0.6;
}
.whiteTex {
    color: #f5f5f5;
}
.redTex {
	color: #fb4148;
}
.greenTex {
	color: #00ca43;
}
.pinkTex{
	color:#d56a6e;
}
.grayTex61 {
	color: #616161;
}
.grayTex99 {
	color: #999999;
}
.grayTex61T {
	color: #616161;
	opacity: 0.6;
}
.grayTex83 {
	color: #838383;
}
.grayTexf5 {
	color: #f5f5f5;
}
.blackTex {
	color: #616161;
}
.blackTex1 {
	color: #7d7d7d;
}
.yellowTex {
	color: #fdd23e;
}
.colorb2 {
	color:#b2b2b2;
}
.color4b {
	color:#4b4b4b;
}
/***************边框*******************/
.hasTBBorder {
	border-top: 1px solid #EAEAEA;
	border-bottom: 1px solid #EAEAEA;
}
.hasLRBorder {
	border-left: 1px solid #EAEAEA;
	border-right: 1px solid #EAEAEA;
}
.borderN {
	border:none;
}
.border {
	border: 1px solid #EAEAEA;
}
.borderD {
	border: 1px dashed #EAEAEA;
}
.borderBd {
	border-bottom: 1px dashed #EAEAEA;
}
.borderR {
	border-right: 1px solid #EAEAEA;
}
.borderL {
	border-left: 1px solid #EAEAEA;
}
.borderTGray {
	border-top: 1px solid #DDD;
}
.borderDottedB {
	border-bottom: 1px dotted #d2d2d2;
}
.fixedTop2P {
	position: fixed;
	top: 2%;
	left: 0;
}
.textIndent2em {
	text-indent: 2rem;
}
.verticalM li {
	vertical-align: middle;
}
.underLine {
	text-decoration: underline;
}
/* 按钮样式 */
.btnCurrent{
	width:80px; 
	height:30px; 
	border: 0;
	line-height: 30px;
}
.cursor{cursor:pointer;}
.zIndex0 {
    z-index: 0;
}
.zIndex1 {
    z-index: 1;
}
.turnAround {
	 transform: rotate(180deg);
}
.turnAround90{
	transform: rotate(90deg);
}
/*************内间距***********************/
.PA0 {
	padding: 0;
}
.PTB2 {
	padding-top: 2px;
	padding-bottom: 2px;
}
.PTB5 {
	padding-top: 5px;
	padding-bottom: 5px;
}
.PTB10 {
	padding-top: 10px;
	padding-bottom: 10px;
}
.PTB15 {
	padding-top: 15px;
	padding-bottom: 15px;
}
.PTB20 {
	padding-top: 20px;
	padding-bottom: 20px;
}
.PTB25 {
	padding-top: 25px;
	padding-bottom: 25px;
}
.PTB30 {
	padding-top: 30px;
	padding-bottom: 30px;
}
.PTB2P {
	padding-top: 2%;
	padding-bottom: 2%;
}
.PTB5P {
	padding-top: 5%;
	padding-bottom: 5%;
}
.PTB10P {
	padding-top: 10%;
	padding-bottom: 10%;
}
.PTB15P {
	padding-top: 15%;
	padding-bottom: 15%;
}
.PTB20P {
	padding-top: 20%;
	padding-bottom: 20%;
}
.PTB25P {
	padding-top: 25%;
	padding-bottom: 25%;
}
.PTB30P {
	padding-top: 30%;
	padding-bottom: 30%;
}
.PLR2 {
	padding-left: 2px;
	padding-right: 2px;
}
.PLR5 {
	padding-left: 5px;
	padding-right: 5px;
}
.PLR10 {
	padding-left: 10px;
	padding-right: 10px;
}
.PLR15 {
	padding-left: 15px;
	padding-right: 15px;
}
.PLR20 {
	padding-left: 20px;
	padding-right: 20px;
}
.PLR25 {
	padding-left: 25px;
	padding-right: 25px;
}
.PLR30 {
	padding-left: 30px;
	padding-right: 30px;
}
.PLR40 {
	padding-left: 40px;
	padding-right: 40px;
}
.PLR5P {
	padding-left: 5%;
	padding-right: 5%;
}
.PLR10P {
	padding-left: 10%;
	padding-right: 10%;
}
.PLR15P {
	padding-left: 15%;
	padding-right: 15%;
}
.PLR20P {
	padding-left: 20%;
	padding-right: 20%;
}
.PLR25P {
	padding-left: 25%;
	padding-right: 25%;
}
.PLR30P {
	padding-left: 30%;
	padding-right: 30%;
}
.PT0 {
	padding-top: 0px;
}
.PT2 {
	padding-top: 2px;
}
.PT3 {
	padding-top: 3px;
}
.PT5 {
	padding-top: 5px;
}
.PT10 {
	padding-top: 10px;
}
.PT15 {
	padding-top: 15px;
}
.PT20 {
	padding-top: 20px;
}
.PT25 {
	padding-top: 25px;
}
.PT30 {
	padding-top: 30px;
}
.PT35 {
	padding-top: 35px;
}
.PT40 {
	padding-top: 40px;
}
.PT50 {
	padding-top: 50px;
}
.PT60 {
	padding-top: 60px;
}
.PT5P {
	padding-top: 5%;
}
.PT10P {
	padding-top: 10%;
}
.PT15P {
	padding-top: 15%;
}
.PT20P {
	padding-top: 20%;
}
.PT25P {
	padding-top: 25%;
}
.PT30P {
	padding-top: 30%;
}
.PT35P {
	padding-top: 35%;
}
.PT40P {
	padding-top: 40%;
}
.PB0 {
	padding-bottom: 0;
}
.PB2 {
	padding-bottom: 2px;
}
.PB3 {
	padding-bottom: 3px;
}
.PB5 {
	padding-bottom: 5px;
}
.PB10 {
	padding-bottom: 10px;
}
.PB15 {
	padding-bottom: 15px;
}
.PB20 {
	padding-bottom: 20px;
}
.PB25 {
	padding-bottom: 25px;
}
.PB30 {
	padding-bottom: 30px;
}
.PB35 {
	padding-bottom: 35px;
}
.PB40 {
	padding-bottom: 40px;
}
.PB45 {
	padding-bottom: 45px;
}
.PB50 {
	padding-bottom: 50px;
}
.PB60 {
	padding-bottom: 60px;
}
.PB70 {
	padding-bottom: 70px;
}
.PB80 {
	padding-bottom: 80px;
}
.PB100 {
	padding-bottom: 100px;
}
.PB5P {
	padding-bottom: 5%;
}
.PB10P {
	padding-bottom: 10%;
}
.PB15P {
	padding-bottom: 15%;
}
.PB20P {
	padding-bottom: 20%;
}
.PB25P {
	padding-bottom: 25%;
}
.PB30P {
	padding-bottom: 30%;
}
.PB35P {
	padding-bottom: 35%;
}
.PB40P {
	padding-bottom: 40%;
}
.PL0 {
	padding-left: 0px;
}
.PL5 {
	padding-left: 5px;
}
.PL10 {
	padding-left: 10px;
}
.PL15 {
	padding-left: 15px;
}
.PL20 {
	padding-left: 20px;
}
.PL25 {
	padding-left: 25px;
}
.PL30 {
	padding-left: 30px;
}
.PL40 {
	padding-left: 40px;
}
.PL5P {
	padding-left: 5%;
}
.PL10P {
	padding-left: 10%;
}
.PL15P {
	padding-left: 15%;
}
.PL20P {
	padding-left: 20%;
}
.PL25P {
	padding-left: 25%;
}
.PL30P {
	padding-left: 30%;
}
.PL35P {
	padding-left: 35%;
}
.PL40P {
	padding-left: 40%;
}
.PR0 {
	padding-right: 0px;
}
.PR5 {
	padding-right: 5px;
}
.PR10 {
	padding-right: 10px;
}
.PR15 {
	padding-right: 15px;
}
.PR20 {
	padding-right: 20px;
}
.PR25 {
	padding-right: 25px;
}
.PR30 {
	padding-right: 30px;
}
.PR100 {
	padding-right: 100px;
}
/*************外边距***********************/
.MLR1P {
	margin-left: 1%;
	margin-right: 1%;
}
.MLR2P {
	margin-left: 2%;
	margin-right: 2%;
}
.MLR3P {
	margin-left: 3%;
	margin-right: 3%;
}
.MLR4P {
	margin-left: 4%;
	margin-right: 4%;
}
.MLR5 {
	margin-left: 5px;
	margin-right: 5px;
}
.MTB1P {
	margin-top: 1%;
	margin-bottom: 1%;
}
.MTB2P {
	margin-top: 2%;
	margin-bottom: 2%;
}
.MTB3P {
	margin-top: 3%;
	margin-bottom: 3%;
}
.MTB4P {
	margin-top: 4%;
	margin-bottom: 4%;
}
.MTB5 {
	margin-top: 5px;
	margin-bottom: 5px;
}
.MA0 {
	margin: 0;
}
.MT0 {
	margin-top: 0px;
}
.MT5 {
	margin-top: 5px;
}
.MT10 {
	margin-top: 10px;
}
.MT15 {
	margin-top: 15px;
}
.MT20 {
	margin-top: 20px;
}
.MT25 {
	margin-top: 25px;
}
.MT30 {
	margin-top: 30px;
}
.MT35 {
	margin-top: 35px;
}
.MT40 {
	margin-top: 40px;
}
.MT50{
	margin-top: 50px;
}
.MT100 {
	margin-top: 100px;
}
.MT150 {
	margin-top: 150px;
}
.MT180 {
	margin-top: 180px;
}
.MT8_{
	margin-top: -8px;
}
.MT5P {
	margin-top: 5%;
}
.MT10P {
	margin-top: 10%;
}
.MT15P {
	margin-top: 15%;
}
.MT20P {
	margin-top: 20%;
}
.MT25P {
	margin-top: 25%;
}
.MT30P {
	margin-top: 30%;
}
.MB0 {
	margin-bottom: 0px;
}
.MB5 {
	margin-bottom: 5px;
}
.MB10 {
	margin-bottom: 10px;
}
.MB15 {
	margin-bottom: 15px;
}
.MB20 {
	margin-bottom: 20px;
}
.MB25 {
	margin-bottom: 25px;
}
.MB30 {
	margin-bottom: 30px;
}
.MB35 {
	margin-bottom: 35px;
}
.MB40 {
	margin-bottom: 40px;
}
.MB50{
	margin-bottom: 50px;
}
.MB100 {
	margin-bottom: 100px;
}
.MB5P {
	margin-bottom: 5%;
}
.MB10P {
	margin-bottom: 10%;
}
.MB15P {
	margin-bottom: 15%;
}
.MB20P {
	margin-bottom: 20%;
}
.MB25P {
	margin-bottom: 25%;
}
.MB30P {
	margin-bottom: 30%;
}
.ML0 {
	margin-left: 0px;
}
.ML5 {
	margin-left: 5px;
}
.ML10 {
	margin-left: 10px;
}
.ML15 {
	margin-left: 15px;
}
.ML20 {
	margin-left: 20px;
}
.ML25 {
	margin-left: 25px;
}
.ML30 {
	margin-left: 30px;
}
.ML35 {
	margin-left: 35px;
}
.ML40 {
	margin-left: 40px;
}
.ML50{
	margin-left: 50px;
}
.ML100 {
	margin-left: 100px;
}
.ML150 {
	margin-left: 150px;
}
.ML5P {
	margin-left: 5%;
}
.ML10P {
	margin-left: 10%;
}
.ML15P {
	margin-left: 15%;
}
.ML20P {
	margin-left: 20%;
}
.ML25P {
	margin-left: 25%;
}
.ML30P {
	margin-left: 30%;
}
.MR0 {
	margin-right: 0px;
}
.MR5 {
	margin-right: 5px;
}
.MR10 {
	margin-right: 10px;
}
.MR15 {
	margin-right: 15px;
}
.MR20 {
	margin-right: 20px;
}
.MR25 {
	margin-right: 25px;
}
.MR30 {
	margin-right: 30px;
}
.MR35 {
	margin-right: 35px;
}
.MR40 {
	margin-right: 40px;
}
.MR50{
	margin-right: 50px;
}
.MR100 {
	margin-right: 100px;
}
.MR120 {
	margin-right: 120px;
}
.MR150 {
	margin-right: 150px;
}
.MR5P {
	margin-right: 5%;
}
.MR10P {
	margin-right: 10%;
}
.MR15P {
	margin-right: 15%;
}
.MR20P {
	margin-right: 20%;
}
.MR25P {
	margin-right: 25%;
}
.MR30P {
	margin-right: 30%;
}
/**************定义宽度，绝对值有P后缀********************/
.width20P {
	width: 20px;
}
.width40P {
	width: 40px;
}
.width50P {
	width: 50px;
}
.width70P {
	width: 70px;
}
.width80P {
	width: 80px;
}
.width90P {
	width: 90px;
}
.width100P {
	width: 100px;
}
.width110P {
	width: 110px;
}
.width120P {
	width: 120px;
}
.width130P {
	width: 130px;
}
.width140P {
	width: 140px;
}
.width150P {
	width: 150px;
}
.width160P {
	width: 160px;
}
.width100 {
	width: 100%;
}
.width95 {
	width: 95%;
}
.width94 {
	width: 94%;
}
.width90 {
	width: 90%;
}
.width80 {
	width: 80%;
}
.width75 {
	width: 75%;
}
.width70 {
	width: 70%;
}
.width65 {
	width: 65%;
}
.width60 {
	width: 60%;
}
.width55 {
	width: 55%;
}
.width50 {
	width: 50%;
}
.width49 {
	width: 49%;
}
.width45 {
	width: 45%;
}
.width47 {
	width: 47%;
}
.width46 {
	width: 46%;
}
.width40 {
	width: 40%;
}
.width44 {
	width: 44%;
}
.width38 {
	width: 38%;
}
.width37 {
	width: 37%;
}
.width35 {
	width: 35%;
}
.width30 {
	width: 30%;
}
.width33_3 {
	width: 33.3%;
}
.width28 {
	width: 28%;
}
.width25 {
	width: 25%;
}
.width24 {
	width: 24%;
}
.width23 {
	width: 23%;
}
.width20 {
	width: 20%;
}
.width15 {
	width: 15%;
}
.width5 {
	width: 5%;
}
/****************高度****************/
.heigh35 {
	height: 35px;
	line-height: 35px;
}
.heigh40 {
	height: 40px;
	line-height: 40px;
}
.heigh50 {
	height: 50px;
	line-height: 50px;
}
.heigh60 {
	height: 60px;
	line-height: 60px;
}
.heigh70 {
	height: 70px;
	line-height: 70px;
}
.height100P {
	height: 100%;
}
