body {
	background:#595478;
}
	.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-pagination-bullet{
	border-radius: 0;
	width: 5px;
	height: 18px;
	background: #908ca4;
	/*transform: skew(10deg);*/
}
.swiper-pagination-bullet-active{
	background: #fff;
}
.swiper-container-vertical>.swiper-pagination-bullets{
	top: 75%;
}
.newHeight{
	height: 32.5%;
}
.height6{
	height: 6%;
}
.newMarin{
	margin-top: 5%;
	margin-bottom: 4%;
}
 .MT{
        	margin-top: 5%;
        }
.deeYellow{
	color: #fed827;
}
@media only screen and (device-height :480px) and (-webkit-device-pixel-ratio:2){
        .height32{
        	margin-bottom: 0;
        }
        .MT0{
        	margin-top: 0;
        	margin-bottom: 0;
        }
        .newMarin{
	margin-top: 5%;
	margin-bottom: 4%;
}
	 }

