html,body{
	background-color: #000;
	font-size: 14px;
}
.divA {
	font-size: 16px;
    left: 10%;
    border: 1px #fff solid;
    border-radius: 7px;
    color: #fff;
    padding: 0.3rem 0;
    margin-top: 0.8rem;
}
.imgDiv {
    width: 100%;
    background: #000;
}
@media only screen
and (max-device-width : 320px)
{
	.divA {
		font-size: 14px;
	}
}