body,html{
	margin: 0;
	padding: 0;
}
.wrap{
	background: url('../../pic/weixin/activity/Discover/back2.png') no-repeat;
	width: 100%;
	height: 100%;
	overflow:hidden;
}
.content{
	margin: 0 auto;
	padding-top: 15px;
	text-align: left;
}
.content li{
	margin-bottom: 20px;
}
.wrapP{
	margin-top: -5px;
	color: #888179;
	padding-bottom: 10px;
}
.typeface{
	font-size: 12px;
	white-space:nowrap;
}
@media only screen
and (max-device-width : 360px)
{
	.typeface{
		transform:scale(0.9) ;
		-webkit-transform:scale(0.9) ;
	}
}
@media only screen
and (max-device-width : 350px)
{
	.typeface{
		transform:translate(0)  scale(0.9) ;
		-webkit-transform:translate(0)  scale(0.9) ;
	}
}
@media only screen
and (max-device-width : 330px)
{
	.typeface{
		transform:translate(-1%)  scale(0.9) ;
		-webkit-transform:translate(-1%)  scale(0.9) ;
	}
}
@media only screen
and (max-device-width : 320px)
{
	.typeface{
		transform:translate(-4%) scale(0.8) ;
		-webkit-transform:translate(-4%) scale(0.8) ;
	}
}