/*body{*/
	/*position: fixed;*/
	/*top: 0;*/
	/*bottom: 0;*/
/*}*/
.wrapper{
	top:0;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	min-height: 500px;
}
.bankList {
	display: block !important;
	overflow: auto;
	height: 100%;
	width : 100%;
	right:-100%;
	/*background:rgba(78,78,78,0.7);*/
	-webkit-transition:all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.show{
	right:0;
}
.bankListItem{
	margin-left: 10px;
}
.listBkg {
	padding-bottom:20px;
	margin-right: 0;
	/*min-width: 320px;*/
}
.listBkg li{
	/*min-width: 300px;*/
}
.thisLi{
	width: 100%;
	height: 50px;
	display: block;
}
.imgBox {
	 height: 50px;
	 display: table-cell;
	 vertical-align:middle;
}
.imgBox img {
	height: 32px;
	margin-top: 9px;
	vertical-align:middle;
}
.rightBox {
	height: 49px;
	margin-top: 0;
}
.rightMain {
	height: 40px;
	margin: 0;
}
#return {
	height: 30px;
}
.btmDiv{
	position: fixed;
	bottom: -200px;
	transition: all 100ms;
}
/* 查看银行列表 2016/8/16*/
#checkBankList{
	color: #00beff;
}
.bankName{
	height: 27px;
	line-height: 33px;
	/* margin-bottom: 4px; */
}
 @media screen and (max-width: 320px){
	.imgBox img {
		height: 26px;
		margin-top:13px;
	}
	.bankListItem{
		margin-left: 4px;
	}

}
.moneyInput {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	height: 50px;
	line-height: 50px;
}
label {
	height: 50px;
	line-height: 60px;
}
.moneyInput:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-size: 16px;
    line-height: 60px;
}
.moneyInput::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-size: 16px;
    line-height: 60px;
}

.moneyInput:-ms-input-placeholder{
    font-size: 16px;
    line-height: 60px;
}

.moneyInput::-webkit-input-placeholder{
    font-size: 16px;
    line-height: 60px;
}
.inactiveBtn{
	background: #e9e9e9 none repeat scroll 0 0;
    color: #aaaaaa;
    cursor: pointer;
    padding-bottom: 12px;
    padding-top: 12px;
    text-align: center;
}
.changeBkgColor{
	background: #ff5a5a none repeat scroll 0 0;
    color: #fff;
    cursor: pointer;
    padding-bottom: 12px;
    padding-top: 12px;
    text-align: center;
}
.bottom{
	bottom:0px;
}
#zshtPayForm{
	margin-bottom: 100px;
}