*{-webkit-tap-highlight-color:rgba(0,0,0,0); text-decoration:none}/* 取消浏览器默认点击样式 */
body{
	background: #EFEFEF;
	line-height: 100%;
	font-size:14px;
}
.height{
	line-height: 1.3em
}
.month{
	padding:5px 5%;
	background: #EFEFEF;
	font-size: 14px;
	height: 20px;
	line-height: 20px;
}
.detail{
	margin:0 5%;
}
.PTB5{
	padding:2px 0;
}
.grayTex2{
	color: #6C6C6C;
}
.blackText{
	color: #333333;
}
#moneyFundFlow li{
	margin-bottom: -1px;
}
.outMoney{
	height: 48px;
	line-height: 48px;
	padding-top:2px;
}
.up{
	padding-top: 7px;
}
.down{
	padding: 3px 0 3px 0;
}