
.borderDashedR{
	border-right: 1px dashed #dddddd;
}
#tips {
    height: 55px;
    padding: 25px 5% 0;
}
.transform4{
	-webkit-transform: translateY(4px);
	-moz-transform: translateY(4px);
	-ms-transform: translateY(4px);
	-o-transform: translateY(4px);
	transform: translateY(4px);
}