<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="css/signTemplate.css">
    <script src="js/clipboard.min.js"></script>
</head>
<body class="whiteBkg">
<!-- 备注：class="title" 为标题   font12为字体大小  供选择字体大小有font12、font14、font16、font18、font20、font22、font24、font26、font28、font30、(建议font14-font18之间选择)。。。如果需要更换字体大小可在class=""引号中添加 -->
<!-- 在class="" 引号中添加 textC 为文字居中对齐 textL为居左对齐  黑色字有如下几种blackTex blackTex1 blackTex2   灰色字有如下几种grayTex grayTex1 grayTex2  红色字redTex-->
<!-- 在一段文字中如果要改变大小和颜色可以这样写：class="blackTex font12" -->
<!-- 哪里需要添加图片就在哪里添加  <img src="" width="100%" class="picture">标签  图片大小可以用width=""中的数值控制-->
<div class="News" id="News">
    <div class="title font18">联璧金融看世界互联网大会，科技金融成亮点</div>
    <div class="width100 PB30">

        <img src="" width="100%" class="picture">
        <p class="font14 grayTex textL">
        <span id="keyWords1"  data-clipboard-text="本轮成品油调价周期初始阶段" class="blueColor">
            <span>本轮成品油调价周期初始阶段</span>
        </span>
        ，受美联储加息落地影响，国际油价承压下行。但欧佩克决定减产带来的刺激效应在一定程度上支撑着国际油价企稳回升。12月23日，纽约原油期货价格收于每桶53.02美元，创出年内新高。虽然国际油价创年内新高，但本轮调价周期内原油价格处于温和抬升状态，整体涨幅并不大。易信金融总部中国区副首席交易官朱文灏表示，目前市场正密切关注欧佩克等产油国组织的减产规模。此外，近期整个金融市场避险情绪升温，在一定程度上抑制了国际油价<span id="keyWords2"  data-clipboard-text="的上行空间" class="blueColor"><span>的上行空间</span>
    </span>。
        </p>

        <div class="title font18">联璧金融看世界互联网大会，科技金融成亮点</div>

        <img src="" width="50%" class="picture">

        <p class="font12 redTex textL">
            本轮成品油调价周期初始阶段，受美联储加息落地影响，国际油价承压下行。但欧佩克决定减产带来的刺激效应在一定程度上支撑着国际油价企稳回升。12月23日，纽约原油期货价格收于每桶53.02美元，创出年内新高。虽然国际油价创年内新高，但本轮调价周期内原油价格处于温和抬升状态，整体涨幅并不大。易信金融总部中国区副首席交易官朱文灏表示，目前市场正密切关注欧佩克等产油国组织的减产规模。此外，近期整个金融市场避险情绪升温，在一定程度上抑制了国际油价的上行空间。
        </p>

        <img src="" width="100%" class="picture">

    </div>
</div>
<script type="text/javascript" src="js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="js/merge.js"></script>
<script type="text/javascript" src="js/signTemplateStatic.js"></script>
</body>
</html>